<div id="slider1">
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <img id="id1" [src]="images[0]" alt="Random first slide">
    
    </ng-template>
    <ng-template ngbSlide>
      <img id="id1"[src]="images1[0]" alt="Random second slide">
      <!--<div class="carousel-caption">
        <h3>No mouse events...</h3>
        <p>This carousel doesn't pause or resume on mouse events</p>
      </div>-->
    </ng-template>
    <ng-template ngbSlide>
      <img id="id1" [src]="images2[0]"  alt="Random third slide">
      
    </ng-template>
    <ng-template ngbSlide>
      <img id="id1" [src]="images3[0]" alt="Random fourth slide">
     
    </ng-template>
    <ng-template ngbSlide>
      <img id="id1" [src]="images4[0]" alt="Random fourth slide">
     
    </ng-template>
    <ng-template ngbSlide>
      <img id="id1" [src]="images5[0]" alt="Random fourth slide">
      
    </ng-template>
  
  
  </ngb-carousel>
  </div>
  